* {
  margin: 0; padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: #fff;
  font: 10px arial, sans-serif;
  background: #000;
}

#video {
  width: 1px; height: 1px;
  opacity: 0;
}

#canvas {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

#overlay {
  position: absolute;
  top: 20px; bottom: 20px;
  left: 20px; right: 20px;
}

#ttl {
  font-weight: bold;
  margin: 10px 0;
}

#txt {
  margin: 10px 0;
}

#loading {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 0;
  background: #fefefe;
  z-index: 9999;
  overflow: hidden;
  opacity: .8;
  -webkit-transition: opacity .8s ease;
  transition: opacity .8s ease;
}

#loading.show {
  height: 100%;
}

#loading .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  list-style: none;
  -webkit-animation: load 1.2s ease infinite normal;
          animation: load 1.2s ease infinite normal;
}

#loading .circle .dot {
  position: absolute;
  margin: -5px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #ccc;
  -webkit-animation: attack .6s ease infinite alternate;
          animation: attack .6s ease infinite alternate;
}

#loading .circle .dot:nth-child(1) {
  margin-top: -35px;
}

#loading .circle .dot:nth-child(2) {
  margin-top: -14.27px;
  margin-left: 23.53px;
}

#loading .circle .dot:nth-child(3) {
  margin-top: -14.27px;
  margin-left: -33.53px;
}

#loading .circle .dot:nth-child(4) {
  margin-top: 19.27px;
  margin-left: 12.63px;
}

#loading .circle .dot:nth-child(5) {
  margin-top: 19.27px;
  margin-left: -22.63px;
}

#loading.invisible {
  opacity: 0;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes attack {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
  }
}

@keyframes attack {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
  }
}